.App {
  text-align: center;
  background-color: rgb(20, 19, 19);
  min-height: 100vh;
  color: rgb(230, 235, 238);
}




h1{
  margin: 0;
}
.header{
  background-color: rgba(5, 53, 62, 0.929);
  padding: 8px;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.movie{
  background-color: rgba(5, 75, 90, 0.941);
  color: rgb(14, 14, 14);
  border: 1px solid rgb(15, 14, 14) ;
  padding: 10px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;
  border-radius: 19px;
}
.movie img{
  height: 220px;
  width: 100%;
}